.panel-container {
  padding: 24px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

table {
  width: 100%;
}

mat-paginator {
  margin-top: 16px;
}